<% provide(:title, "通知一覧") %>
<% password = @password %>
<h1>通知一覧</h1>

<%  @notifcations.each do |notification|  %>
<p><%=notification.token%>
  <%=notification.get_token%>
  <%= notification.salt%>
  <%= notification.month %>
   <%= notification.day %>
   <%= notification.train %>
    <%= notification.dep_stn %>
     <%= notification.arr_stn %>
     <%= link_to "削除", "/notifications/#{notification.id}/destroy" %>
</p>
<%end%>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>乗車月</th>
        <th>乗車日</th>
        <th>列車</th>
        <th>乗車駅</th>
        <th>下車駅</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%  @notifcations.each do |notification|  %>
      <tr>
        <td scope="row"><%= notification.month %></th>
        <td><%= notification.day %></td>
        <td><%= notification.train %></td>
        <td><%= notification.dep_stn %></td>
        <td><%= notification.arr_stn %></td>
        <td><%= link_to "削除", "/notifications/#{notification.id}/destroy" %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
