<% provide(:title, "通知一覧") %>
<div class="container">


<h1>通知一覧(管理者は<%= link_to notifications_admin_path  do%>こちら<%end%>)</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>トークン</th>
        <th>乗車日</th>
        <th>乗車時間</th>
        <th>列車</th>
        <th>乗車区間</th>
      </tr>
    </thead>
    <tbody>
      <%  @notifcations.each do |notification|  %>
      <tr>
        <td><%=notification.get_token[0..1] + "•••••••••" %></td>
        <td scope="row"><%=notification.month + "/" + notification.day %></td>
        <td><%= notification.hour + ":"+ notification.minute %></td>
        <td><%= notification.train %></td>
        <td><%= notification.dep_stn  + " → " + notification.arr_stn%></td>
        <td><%= link_to "/notifications/#{notification.id}/edit" do %><i class="fa fa-edit notification-icon"></i><%end%></td>
        <td><%= link_to "/notifications/#{notification.id}/destroy" ,data: { confirm: "本当に削除しますか？" } do %><i class="fa fa-remove notification-icon"></i><%end%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
</div>
