<% provide(:title, "通知登録") %>
<h1>通知登録</h1>
<p>全て入力してください。</p>
<p><a target="_blank" href="http://www.jr.cyberstation.ne.jp/vacancy/Vacancy.html">こちら</a>でフォームが有効かどうか確認すると便利です。</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:notification, url: notifications_path) do |f| %>
      <% #f.email  = @current_user.email %>

      <%= f.label :token, "LINEトークン" %>
      <%= f.text_field :token, class: 'form-control' %>

      <%= f.label :month, "月" %>
      <%= f.select :month, [["01", "01"],
                            ["02", "02"],
                            ["03", "03"],
                            ["04", "04"],
                            ["05", "05"],
                            ["06", "06"],
                            ["07", "07"],
                            ["08", "08"],
                            ["09", "09"],
                            ["10", "10"],
                            ["11", "11"],
                            ["12", "12"]] ,class:"form-control" %>

      <%= f.label :day, "日" %>
     <%= f.select :day, [["01", "01"],
                            ["02", "02"],
                            ["03", "03"],
                            ["04", "04"],
                            ["05", "05"],
                            ["06", "06"],
                            ["07", "07"],
                            ["08", "08"],
                            ["09", "09"],
                            ["10", "10"],
                            ["11", "11"],
                            ["12", "12"],
                            ["13", "13"],
                            ["14", "14"],
                            ["15", "15"],
                            ["16", "16"],
                            ["17", "17"],
                            ["18", "18"],
                            ["19", "19"],
                            ["20", "20"],
                            ["21", "21"],
                            ["22", "22"],
                            ["23", "23"],
                            ["24", "24"],
                            ["25", "25"],
                            ["26", "26"],
                            ["27", "27"],
                            ["28", "28"],
                            ["29", "29"],
                            ["30", "30"],
                            ["31", "31"]] ,class:"form-control" %>

      <%= f.label :train, "列車" %><br>
  　　<%= f.select :train, [["選択してください", nil],
                              ["のぞみ・ひかり・みずほ・さくら・つばめ", "のぞみ・ひかり・みずほ・さくら・つばめ"],
                              ["こだま", "こだま"],
                              ["はやぶさ・はやて・やまびこ・なすの・つばさ・こまち", "はやぶさ・はやて・やまびこ・なすの・つばさ・こまち"],
                              ["とき・たにがわ・かがやき・はくたか・あさま・つるぎ", "とき・たにがわ・かがやき・はくたか・あさま・つるぎ"],
                              ["在来線列車", "在来線列車"]] ,class:"form-control" %>
                              <%= f.label :hour, "時間" %>
                             <%= f.select :hour, [  ["00", "00"],
                                                    ["01", "01"],
                                                    ["02", "02"],
                                                    ["03", "03"],
                                                    ["04", "04"],
                                                    ["05", "05"],
                                                    ["06", "06"],
                                                    ["07", "07"],
                                                    ["08", "08"],
                                                    ["09", "09"],
                                                    ["10", "10"],
                                                    ["11", "11"],
                                                    ["12", "12"],
                                                    ["13", "13"],
                                                    ["14", "14"],
                                                    ["15", "15"],
                                                    ["16", "16"],
                                                    ["17", "17"],
                                                    ["18", "18"],
                                                    ["19", "19"],
                                                    ["20", "20"],
                                                    ["21", "21"],
                                                    ["22", "22"],
                                                    ["23", "23"]],class:"form-control" %>
        <%= f.label :minute, "分" %>
       <%= f.select :minute, [  ["00", "00"],
                                                                          ["10", "10"],
                                                                          ["20", "20"],
                                                                          ["30", "30"],
                                                                          ["40", "40"],
                                                                          ["50", "50"]],class:"form-control" %>
      <%= f.label :dep_stn, "乗車駅" %>
      <%= f.text_field :dep_stn, class: "form-control" %>

      <%= f.label :arr_stn, "下車駅" %>
      <%= f.text_field :arr_stn, class: "form-control" %>

      <%= f.submit "通知登録", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
