<table class="table">
  <thead>
    <tr>
      <th>画像</th>
      <th>ニックネーム</th>
      <%if current_user.admin? %>
        <th>管理権限</th>
        <th>削除</th>
      <%end%>
    </tr>
  </thead>
  <tbody>

    <% @users.each do |user| %>
    <tr>
      <td><%= gravatar_for user, size: 50 %></td>
      <td><%= link_to user.name, user  %></td>
      <% if current_user.admin? %>
        <% if user.admin? %>
        <td>  <%= link_to "/users/#{user.id}/admin_off" do %><i class="fa fa-unlock admin-page" id="unlock"></i><% end %></td>
        <% else %>
        <td>  <%= link_to "/users/#{user.id}/admin_on", data: { confirm: "本当に管理者にしますか？" } do %><i class="fa fa-lock admin-page"></i><% end %></td>
        <%end%>
        <td><%= link_to user, method: :delete,
                                    data: { confirm: "本当に削除しますか？" } do %><i class="fa fa-remove admin-page"></i><%end%></td>
      <% end %>
    </tr>
    <%end%>
  </tbody>
</table>
